@charset "UTF-8";
body, html{
    margin: 0;
    padding: 0;
  max-width: 100vw;
    max-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
:root{
    --font1:Courier New;
    --font2:Segoe Script;

        --c1_menu:#7300ff;
        --c2_menu:#7300ffa0;
        --dark1:#262626;
        --dark2:#262626a8;
        --dark3:#171717;
        --white:#fff;
     
}
body{
  position: relative;
}
/*Header config*/
 
header#head1{
    background-color:var(--c2_menu);
    display: block;
    color: #ffffff;
    position:fixed;
    width: 100%;
 top: 0%;
    overflow: hidden;
 z-index: 3;
    
 
}

#head1 #menu{
background-color:#000000be;
 overflow: hidden;
position: fixed;
 height: 100vh;
 width: 0px;
 display:flex;
 flex-direction: column;
 
gap:5px;
 border-right:5px solid  var(--c1_menu);
 transition: .8s ease-out;
 
}
#head1 #menu a{
  display:flex ;
    justify-content: center;
 
 align-items: center;
    width: 100%;
    color: #fff;
 height: 15%;
    text-decoration: none;
   
 transition: .3s ease-in-out
 
 
 
 ;
 
 
}
 #head1 #menu a:hover{
    color :var(--white);
   background-color:   var(--c2_menu);
 
 }
 #head1 #menu a.a{
    background-color:  var(--c2_menu);
 }

#head1 #icons{
    background-color: var(--dark3);
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
    border-bottom: 5px solid  var(--c1_menu);
}
#icon{
    cursor: pointer;
    font-size: 30pt;
}
#icons h1{
color:   var(--c1_menu);
transition: .5s ease-in-out;
font-family:  serif;
}
#icon:hover{
    color:   var(--c1_menu);
}
 header section.descri{
 color: #ffffff;
 background-color: #00000087;
 padding: 20px;
 text-align: center;
 }
 .painel-da-inicial{
    margin-top:100px ;
   
   
 }
 .painel{
    background-image: url(../img/glenn-carstens-peters-npxXWgQ33ZQ-unsplash2.jpg);
    background-size: cover;
    background-position: center  ;
    height: 200px;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 .blue{
 height: 50px;
    margin:-16px 0 0  0;
    background-color: var(--dark3);
    border-bottom: 5px solid var(--c1_menu);
 }
/*Main*/
 
main{
    max-width: 800px;
    margin:  auto;
 
    padding: 10px;
}
main h1{
    border-bottom: 3px solid #000000;
    margin-left: 10px;
    text-indent: 10px;
    border-bottom-left-radius: 5px;
    color: #000000;
font-family: Arial, Helvetica, sans-serif;
font-size: 15pt;
  /*  background-image: linear-gradient(to right, #5900ff, transparent);*/
}
main div p{
    text-align: center;
}
main p{
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    text-align: justify;
    font-size: 8.9pt;
}
main section.about-school{
    text-align: left;
    text-indent: 20px;
    width: 100%;
}
main section.about-school figure{
 max-width: 90%;
 display: grid;
 justify-content: center;
 gap: 10px;
 
 margin: 20px;
 
}
main .about-school figure img{
 
}
main .about-school figure figcaption{
 
}
main .about-school div.div_video{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    transition: .8s ease-in-out;
  
}
main .about-school div.div_video iframe{
    width: 100%;
}
main .about-school div button{
display: none;
 
}

 
main .about-school div p{
 text-align: center;
    font-variant: small-caps;
    font-family:Californian FB ;
    font-weight: 900;
}
 
main .about-school div video{
    width: 95%;
  
    margin: auto;
    border-radius: 1px;
    box-shadow:0px 0px 5px #343434;
    transition: .8s ease-in-out;
  
}
 
 
main .estrutura{
 display: block;
}
main .estrutura div{
    width: 100%;
    text-align: center;
}
main .estrutura .estrutura-parent{
    display:flex;
   overflow: scroll;
}
main .estrutura .estrutura-child{
    width: 100%;
    text-align: center;
    display:flex;
    flex-direction: column;
    margin: 5px;
    flex: 1 0 200px;

}
main .estrutura .img-infraestrutura-direcao{
    width:90%;
}
 main .course{
    margin-top: 20px;
 }
/*Midia*/
@media (max-width:310px) {
    main .course{
        display: flex;
        overflow: scroll;
        }
}


main .course caption{
background-color:var(--dark1);
color: #fff;
padding: 5px;
}
 main .course table{
    border: 2px solid black;
    margin: auto;
width: 100%;
    
 }
 main .course table th,td{
    padding: 5px;
    border: 1px solid #000;
   
 }
 /*Footer*/
footer{
 
    color: #fff;
    text-align: center;
 background-image: url(../img/glenn-carstens-peters-npxXWgQ33ZQ-unsplash2.jpg);
 background-size:  cover;
 
 
}
 
aside {
 
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: #00000085;
    align-items: center;
}
 aside #midia{
    display: flex;
    grid-column: 2;
    grid-row: 1;
 }
 
aside .midia img{
  width: 30px;
  border-radius: 50%;
  transition: .5s ease-in-out;

}
 
aside .midia img:hover{
    box-shadow: 0px 0px 20px #ffffff;
}
 
aside{
    text-align: center;
    margin-bottom: 40px;
}
aside div{
display: flex;
justify-content: center;
margin: 10px;
}
 
 
 footer{
    margin-bottom: 40px;
 }
footer p a img{
    width: 150px;
}