@charset "utf-8";
:root{
--c1_menu:#7300ff;
--c2_menu:#7300ffa0;
--dark1:#262626;
--dark2:#262626a8;
--dark3:#171717;
--white:#fff;
}
 
*{
    margin: 0;
    padding: 0;
   
  
}
body{
    height: 100%;
    /*background-image: url(../img/img/ocean_islands_aerial_view_128834_3840x2160.jpg);*/
 
 background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
header#head1{
    background-color:var(--c2_menu);
    display: block;
    color: #ffffff;
    position: sticky;
    top: 0%;
    overflow: hidden;
}

#head1 #menu{
background-color: /*var(--dark2)*/#000000aa;
 overflow: hidden;
position: fixed;
 height: 100vh;
 width: 0px;
 display:flex;
 flex-direction: column;
 
gap:5px;
 border-right:5px solid  var(--c1_menu);
 transition: .8s ease-out;
 
}
#head1 #menu a{
  display:flex ;
    justify-content: center;
 
 align-items: center;
    width: 100%;
    color: #fff;
 height: 15%;
    text-decoration: none;
   
 
 
 
}
 #head1 #menu a:hover{
    color :var(--white);
   background-color:   var(--c2_menu);
 
 }
 #head1 #menu a.a{
    background-color:  var(--c2_menu);
 }

#head1 #icons{
    background-color: var(--dark3);
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
    border-bottom: 5px solid  var(--c1_menu);
}
#icon{
    cursor: pointer;
    font-size: 30pt;
}
#icons h1{
color:   var(--c1_menu);
transition: .5s ease-in-out;
font-family:  serif;
}
#icon:hover{
    color:   var(--c1_menu);
}


main{
    width: 100%;
 margin: auto;
 transition: .5s ease-in-out;
  
}

 
 
  main h1{
 
      color: #000000;
      text-indent: 20px;
      border-bottom: 3px solid #000000;
      font-size: 2em;
      font-family: Agency FB;
      padding-left: 10px;
      border-bottom-left-radius: 10px;
      margin: 30px auto;
  }
 
  
   main .informatica{
 display: grid;
 grid-template-columns: 1fr;
 width: 95%;
 margin: auto;
 gap: 10px;
   }
   main .admin{
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    margin: auto;
    gap: 10px;
      }
   main div{
 width: 100%;
    height: 50px;
    margin: auto;
    border-radius: 1px;
   
    background-color: var(--dark3);
    border: 2px solid #fff;
    box-shadow: 2px 2px 2px #fff;
    display: flex;
    justify-content: center;
  
   }
   main div a{
text-decoration: none;
color: #fff;
/*font-family: Rockwell Condensed;*/
font-family: Agency FB;
font-size: 15pt;
 text-align: center;
 height: 65%;
 transition: .3s ease-in-out;
 padding-top: 15px;
 width: 100%;
   }
 main div a:hover{
 
   background-color: var(--c2_menu) ;
 }/*
  main div a#livro{
    float: left;
    width: 50%;
 
  } 
  main div a#video_aula{
    float: right;
    width: 50%;
  }*/
  footer{
    margin-top: 50px;
 padding: 20px;
 color: #fff;
 font-family: cursive;
    background-color:  var(--dark3);
    
  }
  footer p{

    font-family: cursive;
    text-align: center;
  }
 
footer p a{
    text-decoration: none;
    color: #fff;
 display: flex;
 justify-content: center;
 
 align-items: center;
 
 
}
footer p a:hover{
    color: #ffffff;
 
    
}
footer p a img{
  margin: auto 10px;
    width: 150px;
}