@charset "UTF-8";
@import url(font_cores.css);
html, body{
    margin: 0;
    padding: 0;
    color: #fff;
    height: 100vh;
  
}
body{
 
  background-size: cover;
background-image: url(../img/glenn-carstens-peters-npxXWgQ33ZQ-unsplash2.jpg);

}

/*Header config*/
 

main{
 
   border-radius: 20px;
    background-color: #00000009;
    overflow: hidden;
     
    position: absolute;
    top: 25%;
    left: 50%;
    transform:translateX(-50%);
    transition: .8s ease-out  ;
    box-shadow: 2px 2px 2px #00000068;
 box-sizing: content-box;
 height:400px;
 
} 
 
 
h1{
    color: #000000;
    
    text-align: center;
    font-family:var(--font-title);
}
main #img{
 display: none;
}
main form{
text-align: center;
 display: grid;
}
form div{
    margin: 20px;
}
div input:focus{
  background-color: transparent;
}
div input{
   outline: none;
   background-color: #00000000;

 border: none;
 border-bottom: 1px solid  var(--green);
    height: 30px;
    width: 200px;
}
 div input::placeholder{
    color:#000000;
 }
 
 

input[type="submit"]{
    width: 90%;
    background-color:var(--green);
    color: #ffffff;
    height: 40px;
 
    transition: all .5s ease-in-out;
    border: 2px solid var(--green);
    border-radius:2px ;
 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    
}
 
input[type="submit"]:hover{
 color: var(--green);
 background-color: #fff;

}
 