@charset "UTF-8";
html, body{
    margin: 0;
    padding: 0;
    color: #fff;
    height: 100vh;
  
}
body{
 
    background-attachment: fixed;
 background-image: url(../img/img/road_light_sky_forest_mountains_snow_118189_3840x2160.jpg);
    background-size: cover;
    height: 100vh;
   position: relative;
}
header{
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
 border-bottom:  6px  solid    #7300ff;
 height: 10.5%;
}
 header #btn-icon{
    font-size: 30pt;
    cursor: pointer;
    transition: .5s ease-in-out;
    position: absolute;
    top: -10px;
 }
 header #btn-icon:hover{
 color: #4c00ff;
 }
header nav{
    z-index: 3;
position: fixed;
left: 0%;
top:11%;
height: 90%;
width:0px;
background-color: #21212186;
 display: grid;
 gap: 5px;
 justify-items: center;
 align-items: center;
  
 border-right: 5px solid #7300ff;
 transition: .8s ease-in-out;
 overflow: hidden;
}
header nav  a{
 height: 100%;
 width: 100%;
 transition: .3s ease-in;
 font-family: Arial, Helvetica, sans-serif;
}
header nav  a:hover{
    background-color:   #7300ff78;
}
header nav .ativo{
    background-color:   #7300ff78;
}
 
 
main{
 
   width: 240px;
    height: 419px;
    border-radius: 20px;
    background-color: #0000007a;
    overflow: hidden;
     
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -42%);
    transition: .8s ease-out  ;
    box-shadow: 0px 0px 7px #00000068;
 box-sizing: border-box;
 border: 2px solid white;
 
}
@media screen and (max-width:350px) {
    main{
  width: 250px;
    }
}
main form a:hover{
    background-color:  #7300ff;
}
main form a{
    text-decoration: none;
    color: #ffffff;

    background-color:   #7300ff;
    padding: 8px;
    border-radius: 5px;
    margin: 10px;
}
h1{
    color: #7300ff;
    text-shadow: 1px 1px 2px  #7300ff;
    text-align: center;
}
main #img{
 display: none;
}
main #form{
text-align: center;
 
}
div{
    margin: 20px;
}
div label{
    font-size: 14pt;
}
div input{
    color: #fff;
   background-color: #0000005f;
    border: 1px solid  #7300ff;
    border-radius: 5px;
    height: 20px;
    width: 80%;
}
 
 
 

#login{
    width: 90%;
    background-color:   #7300ff;
    color: #ffffff;
    height: 40px;
    border: none;
}
#forgive{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
#login:hover{
    background-color: #4c00ff ;
}
 #forgive:hover{
    background-color: #4c00ff ;

 }
 footer{
    position: absolute;
    top:90%;
 left: 50%;
 
 }
footer a{
    width: 150px;
    display: flex;
    justify-content: center;
}
footer a img{
    width: 100%;
}