
/*Header config*/
 
header#head1{
    background-color:var(--green);
    display: block;
    color: #ffffff;
    position:fixed;
    width: 100%;
    top: 0%;
    overflow: hidden;
    z-index: 3;
}

#head1 #menu{
    background-color:#ffffff;
    overflow: hidden;
    position: fixed;
    height: 100vh;
    width: 0px;
    display:flex;
    flex-direction: column;
    gap:5px;
    border-right:5px solid  var(--green);
    transition: .4s ease-out;

}
#head1 #menu a{
    display:flex ;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #000;
    height: 15%;
    text-decoration: none;
    transition: .2s ease-in-out;

 
}
 #head1 #menu a:hover{
 
   background-color:   var(--green);
   color: #fff;
 }
 #head1 #menu a.a{
 
    background-color:   var(--green);
    color: #fff;
 }

#head1 #icons{
    background-color:#ffffff  ;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
    border-bottom: 5px solid  var(--green);
}
#icon{
    cursor: pointer;
 font-size: 30pt;
 display: grid;
 justify-content: center;
 align-items: center;
    color:#fff;
    border: 2px solid var(--green) ;
    border-radius: 5px;
    background-color: var(--green);
    width: 30px;
    height: 45px;
    transition: .2s ease-in-out;
}
#icons img{
width: 100px;
}
#icon:hover{
    background-color: transparent;
    color:   var(--green);
}